.content{
    width: 100%;
    background:linear-gradient(to right,rgb(53, 53, 238),rgb(13, 1, 78) 50%,black);
    height: 80vh;
}
.content .container  .top img{
width: 250px;
height: 350px;
border-bottom-left-radius: 12px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-right-radius: 12px;

}
.content .container  .top img:hover{
    
   
    cursor: pointer;
}
.content .container .left img{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.content .container .right{
    
   color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.content .container .right #icon{
    animation: icon 5s linear infinite;
    font-size: 3rem;
    cursor: pointer;
}
.content .container .right #icon:hover{
  transform: scale(1.1);
  transition: .5s;
}
@keyframes icon{
    0%{color:red;}
    50%{color: pink;}
    100%{color: red;}
}
.content .container .right .la_co{
    
    height: 8vh;
   color: black;
    display: flex;
    align-items: center;
}
.content .container .right .la_co .lang{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 6vh;
    background-color: inherit;
  margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    
}
.footer{
    width: 100vw;
    height: 10vh;
    background:linear-gradient(to right,rgb(53, 53, 238),rgb(13, 1, 78) 50%,black);
    display: flex;
    justify-content: space-evenly;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}